# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/

# mypy
.mypy_cache/

# Cython debug symbols
cython_debug/

# Conda
condaenv*.requirements.txt
